body
{
    background-color: rgb(160, 29, 29);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2
{
    margin: 50px 0;
}

.login
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container
{
    width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0 0 20px 0 rgba(000, 000, 000, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.encabezado
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.encabezado img
{
    width: 70px;
    height: 70px;
    margin-left: 50px;
}

.login__container--form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container--form .text
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    background-color: rgba(000, 000, 000, 0.1);
    height: 50px;
    width: 370px;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
}

::placeholder
{
    color: black;
    font-size: large;
    font-weight: 400;
}

.login__container--form .button
{
    height: 50px;
    width: 370px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgba(000, 000, 000, 0.1);
    font-size: large;
    cursor: pointer;
    margin-bottom: 30px;
    outline: none;
}

.login__container--retun 
{
    margin-bottom: 20px;
    
}

.login__container--retun a
{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.login__container--retun a:hover
{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) 
{
    .login__container
    {
        width: 100%;
        border-radius: 0;
        border: none;
        background: none;
    }
}